fastapi
uvicorn
python-dotenv
requests
pydantic
google-cloud-aiplatform
google-auth
google-api-python-client
grpcio
protobuf
langchain
langchain-core
langchain-google-vertexai
langgraph
sentence-transformers
langchain-huggingface
chromadb
langchain-community
pypdf
secure-smtplib 

tqdm
